@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Basic CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

/* Remember to define focus styles! */
:focus {
  outline: 0;
}

/* Remove default margin and padding on certain elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1d4c9;
  color: #403f3d;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  border: 2px solid red;
}

.header-menu {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.header-menu nav li {
  line-height: 32px;
  font-size: 24px;
  color: #2d2d2d;
}

.header-menu nav a {
  text-decoration: none;
  color: #2d2d2d;
  display: block;
  font-weight: 600;
}

.header-menu nav a:hover {
  text-decoration: none;
  color: #2d2d2d;
  display: block;
}

.header-menu nav a:visited {
  text-decoration: none;
  color: #2d2d2d;
  display: block;
}

.header-right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  line-height: 24px;
  font-size: 16px;
  color: #403f3d;
  border-bottom: 2px solid #e1d4c9;
}

.header-right-menu:hover {
  border-bottom: 2px solid #403f3d;
}

.header-right-menu a {
  text-decoration: none;
  color: #403f3d;
  display: block;
  font-weight: 600;
}

.header-right-menu a:hover {
  text-decoration: none;
  color: #403f3d;
  display: block;
}
