@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #e1d4c9;
  color: #403f3d;
}

p {
  line-height: 150%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.heading-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 115%;
}
.heading-1.accent {
  font-style: italic;
}

.heading-2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 115%;
}

.heading-2.accent {
  font-style: italic;
}

.text-dark {
  color: #403f3d;
}

.text-light {
  color: #e1d4c9;
}

.text-accent {
  color: #b0907a;
}

.button-primary {
  padding: 20px 78px;
  font-size: 16px;
  line-height: 150%;
  background-color: #e1d4c9;
  border-radius: 100px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: 8px;
  transition: all 0.3s ease;
}

.cup {
  display: none;
  transition: all 0.5s ease;
}

.button-primary:hover .cup {
  display: block;
}

.button-primary:hover {
  padding: 20px 64px;
}

.header-menu {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.header-menu nav li {
  line-height: 32px;
  font-size: 24px;
  color: #2d2d2d;
}

.header-menu nav a {
  text-decoration: none;
  color: #2d2d2d;
  display: block;
  font-weight: 600;
}

.header-menu nav a:hover {
  text-decoration: none;
  color: #2d2d2d;
  display: block;
}

.header-menu nav a:visited {
  text-decoration: none;
  color: #2d2d2d;
  display: block;
}

.header-right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  line-height: 24px;
  font-size: 16px;
  color: #403f3d;
  border-bottom: 2px solid #e1d4c9;
}

.header-right-menu:hover {
  border-bottom: 2px solid #403f3d;
}

.header-right-menu a {
  text-decoration: none;
  color: #403f3d;
  display: block;
  font-weight: 600;
}

.header-right-menu a:hover {
  text-decoration: none;
  color: #403f3d;
  display: block;
}

.hero {
  height: 644px;
  border-radius: 40px;
  background-image: url("./images/img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
}
.offer {
  width: 530px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
