@import url("reset.css"); /* Import reset and font styles */

/* Import Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Define color variables */
:root {
  --primary-bg-color: #e1d4c9;
  --dark-color: #403f3d;
  --accent-color: #b0907a;
  --nav-text-color: #2d2d2d;
  --border-dark: #665f55;
  --border-light: #c1b6ad;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--dark-color);
}

p {
  line-height: 150%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.container.gap {
  margin-top: 100px;
}

.heading-1,
.heading2,
.heading3 {
  font-size: 72px;
  font-weight: 600;
  line-height: 115%;
}

.heading-1 span.accent {
  font-style: italic;
}

.heading-2 {
  font-size: 48px;
  text-align: justify;
}

.heading-2.center {
  text-align: center;
}

.heading-2 span.accent {
  font-style: italic;
}

.heading-3 {
  font-size: 42px;
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--primary-bg-color);
}

.text-accent {
  color: var(--accent-color);
}

/* Primary button */

.button-primary {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 20px 78px;
  font-size: 16px;
  line-height: 150%;
  background-color: var(--primary-bg-color);
  border-radius: 100px;
  font-weight: 600;
  column-gap: 8px;
  transition: all 0.5s ease;
}

.cup {
  display: none;
  transition: all 0.5s ease;
}

.button-primary:hover .cup {
  display: block;
}

.button-primary:hover {
  padding: 20px 64px;
}

/* Menu */
.header-menu {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
  font-size: 24px;
  color: var(--nav-text-color);
}

.header-menu nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.header-menu nav a {
  text-decoration: none;
  color: #2d2d2d;
  display: block;
  font-weight: 600;
}

/* Right menu with cup */

.header-right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  line-height: 24px;
  font-size: 16px;
  color: var(--dark-color);
  border-bottom: 2px solid var(--primary-bg-color);
}

.header-right-menu:hover {
  border-bottom: 2px solid var(--dark-color);
}

.header-right-menu a {
  text-decoration: none;
  color: var(--dark-color);
  display: block;
  font-weight: 600;
}

/* Hero section */

.hero {
  height: 644px;
  border-radius: 40px;
  padding: 100px;
  background-image: url("./images/img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.offer {
  width: 530px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

/* Slider */
.slider {
  margin: 40px 0;
  position: relative;
  height: 640px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.arrow.right {
  text-align: right;
  right: 0;
}

.arrow.left {
  text-align: left;
  left: 0;
}
.arrow img {
  cursor: pointer;
}

.slider-track_box {
  /* background-color: aqua; */
  position: relative;
  /* border: 2px solid red; */
  height: 640px;
}

.slide {
  width: 80%;
  bottom: 0;
  top: 0;
  right: 10%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--primary-bg-color);
}

/* .slide1 {
  background-color: rgb(69, 42, 165);
}
.slide2 {
  background-color: darkgoldenrod;
}
.slide3 {
  background-color: darkgreen;
} */

.slider__content {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  max-width: 530px;
  text-align: center;
}

.carousel__image {
  max-width: 450px;
}

/* Slider control */
.control {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.slider_indicator {
  width: 40px;
  height: 4px;
  background-color: var(--border-light);
  cursor: pointer;
}

.slider_indicator.active {
  background-color: var(--border-dark);
}
